{% extends "base.html" %}{% block body %}
<div class="login"><h1>Sales reports</h1><p class="sub">Log in to continue.</p>
{% if error %}<p class="note err">{{ error }}</p>{% endif %}
<form method="post" class="stack">
<input name="login" placeholder="Login" autocomplete="username" autocapitalize="none" autofocus>
<input name="password" type="password" placeholder="Password" autocomplete="current-password">
<button class="primary">Log in</button>
<button id="install" type="button" hidden>Install app</button></form>
<p class="sub">iPhone: Share, then Add to Home Screen.</p></div>
{% endblock %}
